extends layout

block content
  h1= title
  form#filter
    input#imgur(type='checkbox')(checked='checked')
    label.imgur(for='imgur') imgur
    input#flickr(type='checkbox')
    label.flickr(for='flickr') flickr
  ul#items
