body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: black;

a
  color: #00B7FF
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: black;
  position: absolute;
  display: block;
  border: 5px solid black;

ul, li
  list-style-type: none

#filter
  color: white
  position: fixed
  top: 1em
