body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: black;

a
  color: #00B7FF
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: black;
  position: absolute;
  display: block;
  border: 5px solid black;

ul, li
  list-style-type: none

#filter
  color: white
  position: fixed
  top: 1em

#filter label
  color: black

img
    max-width: 200px;
    max-height: 200px;

.tags
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 2px
    padding-right: 5px
    border-radius: 0 0 10px 0
    background: black
    opacity: 0.5
    width: 13px
    transition: opacity 1s ease
    font-weight: bold
    color: transparent

.r-funny
    background: blue

.r-earthporn
    background: orange

.instagram
    background: pink

.flickr
    background: yellow

.imgur
    background: green

li:hover .tags
    width: auto
    opacity: 1
    color: black
    text-shadow: 0 0 7px white

h1, h2
    color: grey
